# CIL 10101-10102
allow untrusted_app opluscamera_app_data_file:dir search;
allow untrusted_app opluscamera_app_data_file:file { getattr open read write };
